body {
    margin: 0;
    background-image: url(https://img.freepik.com/free-vector/gradient-golden-luxury-background_52683-69832.jpg);
    background-repeat: no-repeat;
    background-size: 100% 125%;
    font-family: 'Times New Roman', Times, serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid rgba(60, 60, 60, 0.968);
    background-color: #2e2e2e;
    width: 23pc;
    height: 30pc;
    justify-content: center;
    align-items: center;
    margin: auto auto auto auto;
}

.heading {
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    color: rgba(151, 120, 62, 0.968);
}

.input {
    margin-top: 3pc;
    margin-bottom: 1px;
}

input {
    color: rgb(116, 116, 116);
    background-color: rgb(78, 78, 78);
    width: 21pc;
    height: 3pc;
    border: 0;
    font-size: 25px;
    font-weight: bold;
}

input:hover {
    background-color: #484848c7;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    width: 20pc;
    margin-top: 3px;
    padding: 3px;
    justify-content: space-between;
}

button {
    border: 0;
    padding: 30px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 10px;
    background-color: rgba(151, 120, 62, 0.968);
    font-size: 23px;
    font-weight: bold;
}

button:hover {
    background-color:rgb(169, 133, 66);
}

.three {
    color:  rgb(97, 97, 97);
    display: flex;
    flex-direction: row;
    gap: 0%;
}
#reset {
    margin-bottom: 4pc;
    padding: 17px;
    border-radius: 10px;
    justify-content: left;
}

#rslt {
    color: rgb(108, 108, 108);
    text-align: left;
    margin-bottom: 2pc;
    white-space: nowrap;
    font-size: 30px;
}
#result {
    justify-content: left;
    text-align: left;
    font-size: 30px;
}
